@import "../../styles/common.scss";

.tags {
  margin-bottom: 20px;
}

.tag {
  background-color: $main-color;
  color: $white-color;
  padding: 5px;
  margin: 500px 2px;
  border-radius: $border-radius;
}

.remove-tag {
  margin: 100px;
}

.tag button {
  background: unset;
  border: none;
  color: $white-color;
  margin-left: 3px;
}

.tagsInput {
  width: 100%;
}

.selected {
  margin: 10px;
}

.selected > {
  margin: 100px;
}

.suggestedTag {
  background-color: $main-color;
  color: $white-color;
  border-radius: $border-radius;
}