:global(.ui.basic.label).toolbarBtn {
  border: none
}

.post {
  padding: 5px 5px 0 5px !important;
}

.body {
  color: rgba(0, 0, 0, 1) !important;
}

.user {
  color: black;
}

.date {
  margin-top: 1px !important;
}

.label {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
