.vacancy {
  width: 100% !important;
}

.description {
  white-space: pre-line;
}

.viewCandidates {
  width: 100% !important;
}

.dropdown {
  position: absolute !important;
  right: 2%;
  top: 2%;
}