.fileUploader {
  max-width: 600px;
  padding: 30px 30px 30px 100px;
  display: flex !important;
}

.openModalButton {
  margin: 20px 0 !important;
}

.submitButton {
  margin: 20px 0 !important;
  position: relative;
  left: 30%;
}